<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="box" id="heading">
        <h1><%= listTitle %></h1>
    </div>

    <div class="box">
     <% for (var count =0; count<Item .length; count++){ %>
       <div class="item">
        
            <input type ="checkbox">    
            <p><%= Item[count] %></p> 
        </div>
        <% } %>      
        <form class="item"" action ="/" method="post">
            <input type = text name = newlist placeholder="type here " autocomplete ="off">
            <button type = submit name = Add value =<%= listTitle %>> + </button> 
            </form> 
    </div>

  



</body>
</html>