<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>It's  <%= kindDay %></h1>
<% if (kindDay ==="Sunday") { %>
<h1 style ="color:purple"><%= kindDay%> TODOlist</h1>
<% } %>



<ul>
    
<% for (var count =0; count<var1 .length; count++){ %>
    <li><%= var1[count] %></li>
<% } %>
    

</ul>

<form class="" action ="/" method="post">
<input type = text name = newlist placeholder="type here ">
<button type = submit name = Add>Add</button> 
</form> 

</body>
</html>